__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.eggs/
.build/
.dist/
.dist-info/
.venv/
.venv*/

# JAX/XLA
.cache/
.xla/

# Sphinx
/docs/_build/

# Profiling
/profiles/

# OS
.DS_Store
examples/ncsx_eps_eff_vs_s.png
